@model IEnumerable<Proj.DAL.Models.GameArt>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Game Catalog</h1>

<div style="display:flex; flex-direction:column; align-items:center; width:100%">
    <div style="display:flex; justify-content: space-between; align-items:center;width:100%; border:1px solid black;">
        <div style="border:1px solid black; display:flex; align-items: center; justify-content:center; width:100%;">Game</div>
        <div style="border:1px solid black; display:flex; align-items: center; justify-content:center; width:100%;">Image</div>
    </div>
    @foreach (var gameArt in Model)
    {
        <div style="display:flex; justify-content:space-between; align-items:center;width:100%">
            <div style="display:flex; justify-content:space-between; align-items:center;width:100%">@gameArt.Game.Name</div>
            <div style="display:flex; align-items:center; justify-content:center;">
                <img style="width: 25rem;" src="@gameArt.Url" alt="Game Image" />
            </div>
        </div>
    }
</div>