@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (!string.IsNullOrEmpty(ViewData["UserName"] as string))
    {
        <h1 class="display-4">Welcome, @ViewData["UserName"]! Check the navigation bar for available options!</h1>
    }
    else
    {
        <h1 class="display-4">Welcome User! Check the navigation bar for available options!</h1>
    }
</div>
